@font-face {
  font-family: 'OpenSans';
  src: url('/assets/fonts/open_sans/OpenSans.woff');
}

@font-face {
  font-family: 'OpenSansBold';
  src: url('/assets/fonts/open_sans/OpenSans-bold.woff');
}

@font-face {
  font-family: 'OpenSansLight';
  src: url('/assets/fonts/open_sans/OpenSans-light.woff');
}

@font-face {
  font-family: 'OpenSansSemibold';
  src: url('/assets/fonts/open_sans/OpenSans-semibold.woff');
}

@font-face {
  font-family: AvenirLight;
  src: url("/assets/fonts/avenir/avenir-light.otf"),
  url('/assets/fonts/avenir/avenir-light.ttf') format("truetype"),
  url('/assets/fonts/avenir/avenir-light.woff') format("woff"),
  url('/assets/fonts/avenir/avenir-light.eot');
}

@font-face {
  font-family: AvenirRoman;
  src: url("/assets/fonts/avenir/Avenir-Roman.otf"),
  url('/assets/fonts/avenir/Avenir-Roman.ttf') format("truetype"),
  url('/assets/fonts/avenir/Avenir-Roman.woff') format("woff"),
  url('/assets/fonts/avenir/Avenir-Roman.eot');
}

@font-face {
  font-family: AvenirHeavy;
  src: url("/assets/fonts/avenir/Avenir-Heavy.otf"),
  url('/assets/fonts/avenir/Avenir-Heavy.ttf') format("truetype"),
  url('/assets/fonts/avenir/Avenir-Heavy.woff') format("woff"),
  url('/assets/fonts/avenir/Avenir-Heavy.eot');
}

@font-face {
  font-family: AvenirMedium;
  src: url("/assets/fonts/avenir/Avenir-Medium.otf"),
  url('/assets/fonts/avenir/Avenir-Medium.ttf') format("truetype"),
  url('/assets/fonts/avenir/Avenir-Medium.woff') format("woff"),
  url('/assets/fonts/avenir/Avenir-Medium.eot');
}

@font-face {
  font-family: AvenirBook;/*url("/assets/fonts/avenir/Avenir-Book.otf"),*/
  src: url('/assets/fonts/avenir/Avenir-Book.ttf') format("truetype"),
  url('/assets/fonts/avenir/Avenir-Book.woff') format("woff"),
  url('/assets/fonts/avenirAvenir-Book.eot');
}


@font-face {
  font-family: HelveticaNeueCyrBold;/*url("/assets/fonts/halvetica/HelveticaNeueCyr-Bold.otf"),*/
  src: url('/assets/fonts/halvetica/HelveticaNeueCyr-Bold.ttf') format("truetype"),
  url('/assets/fonts/halvetica/HelveticaNeueCyr-Bold.woff') format("woff"),
  url('/assets/fonts/halvetica/HelveticaNeueCyr-Bold.eot');
}

@font-face {
  font-family: HelveticaNeueCyrLight; /*url("/assets/fonts/halvetica/HelveticaNeueCyr-Light.otf"),*/
  src: url('/assets/fonts/halvetica/HelveticaNeueCyr-Light.ttf') format("truetype"),
  url('/assets/fonts/halvetica/HelveticaNeueCyr-Light.woff') format("woff"),
  url('/assets/fonts/halvetica/HelveticaNeueCyr-Light.eot');
}

@font-face {
  font-family: HelveticaNeueCyrMedium;/*url("/assets/fonts/halvetica/HelveticaNeueCyr-Medium.otf"),*/
  src: url('/assets/fonts/halvetica/HelveticaNeueCyr-Medium.ttf') format("truetype"),
  url('/assets/fonts/halvetica/HelveticaNeueCyr-Medium.woff') format("woff"),
  url('/assets/fonts/halvetica/HelveticaNeueCyr-Medium.eot');
}


@font-face {
  font-family: HelveticaNeueCondensedBold;/*url("/assets/fonts/halvetica/HelveticaNeueCyr-Bold.otf"),*/
  src: url('/assets/fonts/halvetica/HelveticaNeue-CondensedBold.ttf') format("truetype"),
  url('/assets/fonts/halvetica/HelveticaNeue-CondensedBold.woff') format("woff"),
  url('/assets/fonts/halvetica/HelveticaNeue-CondensedBold.eot'),
  url('/assets/fonts/halvetica/HelveticaNeue-CondensedBold.svg'),;
}

@font-face {
  font-family: HelveticaNeueThin; /**/
  src: url("/assets/fonts/halvetica/HelveticaNeue-Thin.otf"),
  url('/assets/fonts/halvetica/HelveticaNeue-Thin.ttf') format("truetype"),
  url('/assets/fonts/halvetica/HelveticaNeue-Thin.woff') format("woff"),
  url('/assets/fonts/halvetica/HelveticaNeue-Thin.eot');
}

@font-face {
  font-family: ProximaRegular; /*url("/assets/fonts/proxima/ProximaNova-Regular.otf"),*/
  src: url('/assets/fonts/proxima/ProximaNova-Regular.ttf') format("truetype"),
  url('/assets/fonts/proxima/ProximaNova-Regular.woff') format("woff"),
  url('/assets/fonts/proxima/ProximaNova-Regular.eot');
}
