$orange: #ed6725;
$blue-logo: #1b0772;
$blue-button: #4267b2;
$red-button: #db4a38;
$coral-button: #f7d4bf;
$red-error: #c22600;
$gray-text: #868494;
$accent-gray: #59556d;
$light-white: #f8faff;
$gray-title: #716d81;
$gray-border: #eceef5;
$error: #c41800;
$dark-blue: #1c006a;
$green: #20A332;
$light-gray: #706d7f;

$blue-faq: #180567;
$gray-btn: #c3c1cb;

$btn-hover: #d95718;
$btn-active: #c64607;
$btn-disable: #fad1be;

