.table-search {
  padding: 15px 15px 0 15px;
}

.table_data {
  background-color: white;
  position: relative;
}

.spinner-container mat-spinner {
  //margin: 130px auto 0 auto;

  position: absolute;
  left: calc( 50% - 50px);
  top: calc( 50% - 50px);
}

.users-table {
  min-height: 400px;
  height: calc(100vh - 250px);
}

.table-row {

  transition: .2s linear;
  cursor: pointer;

  &:hover {
    background-color: #e4e4e4;
  }
}
